server:
  port: 8080

spring:
  datasource:
    url: "jdbc:h2:mem:test"
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 10
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  liquibase:
    change-log: "classpath:changelog/main-changelog.xml"

springdoc:
  swagger-ui:
    path: /ui.html

logging:
  level:
    foo: DEBUG

resilience4j.ratelimiter:
  instances:
    weatherApi:
      limitForPeriod: 1000000
      limitRefreshPeriod: 31d
      timeoutDuration: 1s


# possible options: jdbc, jpa, in-memory
weather-dao-realization: jdbc
api_key: ${API_KEY}
api_url: "http://api.weatherapi.com/v1"

