server:
  port: 8080
  host: localhost
  schema: http

spring:
  datasource:
    url: "jdbc:h2:mem:test"
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 10
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  liquibase:
    change-log: "classpath:changelog/main-changelog.xml"


resilience4j.ratelimiter:
  instances:
    weatherApi:
      limitForPeriod: 10
      limitRefreshPeriod: 31d
      timeoutDuration: 1s


# possible options: jdbc, jpa, in-memory
weather-dao-realization: jdbc
api_key: aaa
api_url: "http://api.weatherapi.com/v1"
